<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>loginsuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e088a9">  <td>21/06/12 19:17:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">loginTest</td> 
  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="e088a9">  <td>21/06/12 19:18:19</td>   <td>76500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">loginTest</td> 
  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="e088a9">  <td>21/06/12 19:18:19</td>   <td>76708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">loginTest</td> 
  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>21/06/12 19:18:11</td>   <td>68755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quit()[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>21/06/12 19:18:19</td>   <td>76531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quit()[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>21/06/12 19:18:19</td>   <td>76938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quit()[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>21/06/12 19:17:00</td>   <td>-2413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.start(org.testng.ITestResult)[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">&gt;&gt;start</td> 
<td>&nbsp;</td>  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>21/06/12 19:18:19</td>   <td>76498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.start(org.testng.ITestResult)[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">&gt;&gt;start</td> 
<td>&nbsp;</td>  <td>main@396883763</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>21/06/12 19:18:19</td>   <td>76707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.start(org.testng.ITestResult)[pri:0, instance:com.Zoho.suite.testcases.login.LoginTest@682b2fa]">&gt;&gt;start</td> 
<td>&nbsp;</td>  <td>main@396883763</td>   <td></td> </tr>
</table>
