<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58980">  <td>21/06/06 16:28:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.start(org.testng.ITestResult)[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">&gt;&gt;start</td> 
<td>&nbsp;</td>  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>21/06/06 16:28:28</td>   <td>1002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">loginTest</td> 
  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>21/06/06 16:29:08</td>   <td>40583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quit()[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>21/06/06 16:29:14</td>   <td>46767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.start(org.testng.ITestResult)[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">&gt;&gt;start</td> 
<td>&nbsp;</td>  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>21/06/06 16:29:14</td>   <td>46767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">loginTest</td> 
  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>21/06/06 16:29:14</td>   <td>46940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quit()[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>21/06/06 16:29:15</td>   <td>47161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.start(org.testng.ITestResult)[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">&gt;&gt;start</td> 
<td>&nbsp;</td>  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>21/06/06 16:29:15</td>   <td>47162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">loginTest</td> 
  <td>main@961409111</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>21/06/06 16:29:15</td>   <td>47174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quit()[pri:0, instance:com.ZohoPOMProject.LoginTest@1f2586d6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@961409111</td>   <td></td> </tr>
</table>
